@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
    min-height: 100vh;
}

body > main {
    padding-block: 1rem;
}

body > header {
    position: relative;
    z-index: 2;
}

body > header::after {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100;
    opacity: .25;
    filter: blur(40px);
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,#f86bdf 0,rgba(107,107,248,.8) 100%);
    content: ' ';
}
